dist
tmp
.envrc

node_modules

.idea
.DS_Store
Thumbs.db
.commit
.devbox
.terraform
terraform.tfstate*
kubeconfig
chart/gitpod-self-hosted/templates/gitpod.yaml
.envrc
output.json
https-certificates.yaml

examples/*/*.crt.pem
